# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

build/
dist/

node_modules/
.env
.idea
.vscode
.DS_Store
.turbo
*.tsbuildinfo

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

