# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

build/
dist/

node_modules/
.env
.idea
.vscode
.DS_Store
.turbo
*.tsbuildinfo


# Ignore Yarn cache and unplugged dependencies
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
