/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /*color: #fff;*/
  padding: 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #080f19;
  background-image: url('/img/hero-bg-blur.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
}

.heroContainer h1 {
  color: white;
  display: flex;
  align-items: center;
}
.heroContainer {
  /*backdrop-filter: invert(1) hue-rotate(-100deg) blur(4px) brightness(0.6);*/
  /*backdrop-filter: invert(1) hue-rotate(-100deg) blur(4px) brightness(0.6);*/
  padding: 2rem 0;
  /*max-width: 600px;*/
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons > * {
  width: 160px;
}

.intro {
  display: flex;
  align-items: center;
  padding: 2rem;
}
